
.logo {
    width: fit-content;
    height: fit-content;
}

.Buttons {
    width: fit-content;
    /* height: 150px; */
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.BtnContact{
    padding: 8px;
}

.footer {
    margin-top: 2em;
    margin-left: 160px;
    padding: 8px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px;
}

.aLink {
    font-size: small;
    margin-top: 2%;
}

.aLink :hover{
    color: red;
}

.arrowT{
    font-size: 10px;
}

@media screen and (max-width: 450px) {
    .Buttons{
        display: none;
    }
    .footer{
        margin-left: 0px;
    }
}
