@tailwind base;
@tailwind components;
@tailwind utilities;




/* dark: #310000; */
/* ligth: #991b1b */
:root{
  background-color: transparent;
}

main {
  margin-left: 160px;
}

@media screen and (max-width: 650px) {
  main{
    margin-left: 0;
    margin-top: 120px;
  }
  
}