.header {
    color: white;
    background-color: black;
    border-bottom: solid 1px #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    top: -8px;
    z-index: 9999;
    padding: 8px;
}

.logoImg {
    width: 81px;
    height: 81px;
    border-radius: 8px;
}

.Desk {
    margin-top: 8px;
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.Desk ul{
    flex-direction: row;
    background-color: black;
}

.Desk li{
    color: white;
}

.dropMob {
    display: none;
}

.footer {
    color: white;
    border-top: solid 1px #111111;
    text-align: center;
    margin-top: 2em;
    padding: 8px;
    bottom: -20;
    position: absolute;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: column;
}

.aLink {
    font-size: small;
}

.aLink :hover{
    color: red;
}

.ig{
    display: inline;
}


.arrow{
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 15%;
}

.arrowT{
    font-size: 10px;
}

@media screen and (max-width: 850px) {
    .header{
        padding: 0%;
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        /* opacity: 0.8; */
    }
    .logoImg{
        height: 5em;
        width: 5em;
    }
    .Desk{
        display: none;
    }
    .dropMob{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .tienda{
        color: black;
    }
    .footer{
        flex-direction: row;
        position: fixed;
        bottom: -1vh;
        width: 100%;
        padding: 1%;
        z-index: 1000;
    }
    .redes{
        flex-direction: row;
        justify-content: center;
        padding: 2%;
    }
    .ig{
        margin-left: 2px;
    }
    .aLink{
        display: none;
    }
}
