
.dropMob {
    display: none;
}

.logo {
    width: fit-content;
    height: fit-content;
}

.Buttons {
    width: fit-content;
    height: fit-content;
    margin: 0% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: 2em;
    padding: 8px;
    bottom: -20;
    position: absolute;
    width: 100%;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15em;
    padding: 8px;
}

.aLink {
    font-size: small;
    margin-top: 2%;
}

.aLink :hover{
    color: red;
}

.arrowT{
    font-size: 10px;
}


@media screen and (max-width: 850px) {
    .logoImg{
        height: 5em;
        width: 5em;
    }
    .logo {
        margin-left: 60px !important;
    }
    .dropDesk{
        display: none;
    }
    .dropMob{
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer{
        position: fixed;
        bottom: -1vh;
        width: 100%;
        padding: 1%;
        z-index: 1000;
    }
}

@media screen and (max-width: 450px) {
    .BtnContact{
        display: none;
    }
    .logo {
        padding: 8px;
        margin-left: 0 !important;
    }
    
}
